.body{
    margin: 0;
     color: #FF4100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    font-style: italic;
    background-color: #FFCE73;
}
.header_back{
    width:100%;
    background-color:#000000; ; 
    padding-top: 20px; 
    height:120px;
}
.header{
    margin: 10px;
    text-align: 20px;
    width:100%;
    background-color:#000000; ; 
    padding: 5px; 
    height:50px;
}
.href_list{
    color: #FF4100;
    transition: color .2s linear;
}
.href_list:hover{
    color: black;
    text-decoration: none;
    
}
.imagine{
    display: block;
    float: left; 
    margin-top: -30; 
    width:100px; 
    height:100px;
    
}
.nav{
    max-width:960px; 
    background-color:#000000; 
    margin: 0 auto; 
    margin-top:20px; 
    padding:10px;
    text-align: center;

    color:  #FF5900;
    text-decoration: none;
    
}
.href{
    text-decoration: none;
    color:#FF6400;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-size: 110%;
    position: relative;

    color:  #FF5900;
    text-decoration: none;

    transition: color .2s linear;
}
.href:hover{
    color:#FFEB00;
}

.table{
    color:#FF6400;
    margin: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    border: 3px solid #000000;
}
.elemch{
    border: solid #000000;
    background-color: #1533AD;
}
.elemnch{
    border: solid #000000;
    background-color: #238D43;
}
