.body{
    margin: 0;
     color: #FF6400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    font-style: italic;
}
.header{
    width:100%;
    background-color:#000000; ; 
    padding: 10px; 
    height:120px;
  

}
.imagine{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left; 
    margin: 0; 
    width:100px; 
    height:100px;
    padding-right: 10px;
}
.nav{
    max-width:800px; 
    background-color:#000000; 
    margin: 0 auto; 
    margin-top:20px; 
    padding:10px;
    text-align: center;
}
.href{
    text-decoration: none;
    color:#FF6400;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.table{

    color:#FF6400;
    margin: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    border: 3px solid #000000;
}
.elemch{
    border: solid #000000;
    background-color: #06246F;
}
.elemnch{
    border: solid #000000;
    background-color: #114037;
}
